body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;

    padding: 30px;

    background: white;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.card h1 {
    margin-bottom: 10px;
}

.card h2 {
    margin-bottom: 25px;
}

form {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

input {
    padding: 12px;

    font-size: 16px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

button {
    padding: 12px;

    font-size: 16px;

    border: none;

    border-radius: 5px;

    cursor: pointer;
}

form button {
    background: #222;
    color: white;
}

.message {
    margin-top: 20px;
}

.switch-button {
    margin-top: 15px;

    background: transparent;

    color: #333;
}